@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@front-face {
  font-family: "Pixel";
  font-style: normal;
  font-weight: 400;
  src: url("./font/Nunito-VariableFont_wght.ttf") format("ttf");
  font-display: swap;
}
